.stock-wrapper-container {
  padding: 50px 0 0 0;

  .row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .stock-item-list {
    background-color: lightgray;
    border-right: 10px solid lightgray;

    .stock-list {
      background-color: white;
      border-bottom: 10px solid lightgray;

      .script-title {
        margin-top: 10px;
        padding: 0 2px !important;

        .list-icon {
          font-size: 28px;
          font-weight: 900;
          max-width: 46px;
          margin: 10px 0 0 0;
          float: left;
        }

        p {
          display: flex;
          justify-content: center;
          font-weight: 100;
          font-family: initial;
          font-size: 14px;
          line-height: 0px;
          padding-top: 9px;
          margin-bottom: 0px;
        }

        span {
          color: #28a491;
          font-size: 28px;
          display: flex;
          justify-content: center;
          padding: 0 20px;
          margin: 10px 0 0 0px;
        }
      }

      .company-name {
        .title-name {
          width: 150px;
          margin-top: 10px;

          b {
            font-size: 26px;
            line-height: 20px;
            color: #96cf96;

            span {
              display: flex;
              font-size: 14px;
              margin: 0 0 0 47px;
              color: black;
              font-weight: 500;
            }
          }
        }

        .share-name {
          p {
            line-height: 25px;
            font-size: 20px;
            font-family: auto;
            font-weight: 900;
            letter-spacing: .1rem;
            margin-bottom: 0px;
          }
        }
      }

      .share-value-rate {
        max-width: 300px;

        ul {
          margin-top: 20px;
          padding-left: 0% !important;

          li {
            display: block;
            width: 200px;
            padding: 0 10px;

            p {
              display: flow-root;
              font-weight: 100;
              font-size: 13px;
              line-height: 0%;
              margin-bottom: 0px !important;

              svg {
                margin-right: 5px;
                font-size: 20px;
              }

              b {
                display: block;
                text-align: end;
                position: relative;
                bottom: 12px;
              }
            }
          }
        }
      }

      .market-value {
        max-width: 300px;
        padding: 0px 10px;

        ul {

          padding-left: 0px !important;

          li {
            display: flex;
            width: 200px;
            display: block;
            padding: 0 10px;

            p {
              font-weight: 800;
              font-size: 14px;
              margin-top: 24px;
              line-height: 2px;
            }

            span {
              display: block;
              text-align: end;
              position: relative;
              font-weight: 900;
              bottom: 0px;
            }

          }
        }
      }

      .profit-loss {
        max-width: 300px;
        margin-right: 12px;

        ul {
          padding-left: 0% !important;
          padding-top: 4px;

          li {
            width: 200px;
            padding: 0 10px;
            padding-top: 22px;
            display: block;

            .unrealized-progress .negative .progress-bar {
              margin-left: -50%;
              // background-color: red;
              background-color: #00bd59;
              margin-right: 50%;
          }
          
          .unrealized-progress .positive .progress-bar {
              background-color: red;
              margin-left: 50%;
          }
          
          .unrealized-progress .progress-bg {
              background-color: #e9ecef;
              display: flex;
              align-items: center;
              width: 100%;
              border-radius: 50px;
              height: 10px;
              position: relative;
              overflow: hidden;
              bottom: 3px;
          }
          
          .unrealized-progress .progress-bg .positive {
              background-color: red;
              // background-color: #00bd59;
              margin-left: 50%;
              height: 8px;
              position: absolute;
          }
          
          .unrealized-progress .progress-bg .negative {
              background-color: #07af56;
              // background-color: red;
              height: 10px;
              position: absolute;
          }
          

            p {
              font-weight: 900;
              font-size: 14px;
              line-height: 0px;
              margin-bottom: 0px !important;

              span {
                display: block;
                text-align: end;
                position: relative;
                bottom: 0px;
                float: right;
                font-weight: 900;

                svg {
                  color: green;
                  font-size: 32px;
                }
              }
            }
          }
        }
      }

      .button-section {
        Button {
          color: rgb(223, 198, 88);
          border: 2px solid rgb(216, 185, 49);
          background: transparent;
          margin: 8px 0 0 0;
          width: 55px;
          padding: 4px;
          font-weight: 800;
          border-radius: 0px;
        }
      }
    }
  }

  .char-wrapper {
    .chart-heading {
      display: flex;

      h3 {
        margin-left: 30px;
        font-size: inherit;
        padding-top: 6px;
      }

      select {
        border: none;
        width: 220px;
        position: relative;
        right: 0px;
        top: 0px;
        font-family: initial;
        padding-top: 5px;
        left: 67px;
        padding-bottom: 6px;
        margin-bottom: 15px;
        font-weight: 400;
      }

      select:focus {
        outline: none;
        border: none;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px !important;
      }
    }
  }
}